Source: clfft
Priority: extra
Maintainer: Jerome Kieffer <jerome.kieffer@esrf.fr>
Build-Depends: debhelper (>= 9), cmake, dh-exec, libboost-all-dev, doxygen, 
               opencl-headers, libstdc++-4.9-dev|libstdc++-dev, libgtest-dev,
               ocl-icd-libopencl1|libopencl1, ocl-icd-opencl-dev|ocl-icd-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/clMathLibraries/clFFT

Package: libclfft2-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libclfft2 (= ${binary:Version}), ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: clFFT is an OpenCL FFT library - header
 The FFT is an implementation of the Discrete Fourier Transform (DFT) that
 makes use of symmetries in the FFT definition to reduce the mathematical
 intensity required from O(N2) to O(N log2( N )) when the sequence length
 N is the product of small prime factors. Currently, there is no standard
 API for FFT routines. Hardware vendors usually provide a set of
 high-performance FFTs optimized for their systems: no two vendors employ
 the same interfaces for their FFT routines. clFFT provides a set of FFT
 routines that are optimized for AMD graphics processors, but also are
 functional across CPU and other compute devices.

Package: libclfft2
Section: libs
Multi-Arch: same
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: clFFT is an OpenCL FFT library
 The FFT is an implementation of the Discrete Fourier Transform (DFT) that
 makes use of symmetries in the FFT definition to reduce the mathematical
 intensity required from O(N2) to O(N log2( N )) when the sequence length
 N is the product of small prime factors. Currently, there is no standard
 API for FFT routines. Hardware vendors usually provide a set of
 high-performance FFTs optimized for their systems: no two vendors employ
 the same interfaces for their FFT routines. clFFT provides a set of FFT
 routines that are optimized for AMD graphics processors, but also are
 functional across CPU and other compute devices.

Package: libclfft2-bin
Section: libs
Multi-Arch: foreign
Architecture: any
Depends: libclfft2 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: clFFT is an OpenCL FFT library - benchmark binaries
 The FFT is an implementation of the Discrete Fourier Transform (DFT) that
 makes use of symmetries in the FFT definition to reduce the mathematical
 intensity required from O(N2) to O(N log2( N )) when the sequence length
 N is the product of small prime factors. Currently, there is no standard
 API for FFT routines. Hardware vendors usually provide a set of
 high-performance FFTs optimized for their systems: no two vendors employ
 the same interfaces for their FFT routines. clFFT provides a set of FFT
 routines that are optimized for AMD graphics processors, but also are
 functional across CPU and other compute devices.

Package: libclfft2-dbg
Section: debug
Multi-Arch: same
Architecture: any
Depends: libclfft2 (= ${binary:Version}), ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: clFFT is an OpenCL FFT library - debug symbols
 The FFT is an implementation of the Discrete Fourier Transform (DFT) that
 makes use of symmetries in the FFT definition to reduce the mathematical
 intensity required from O(N2) to O(N log2( N )) when the sequence length
 N is the product of small prime factors. Currently, there is no standard
 API for FFT routines. Hardware vendors usually provide a set of
 high-performance FFTs optimized for their systems: no two vendors employ
 the same interfaces for their FFT routines. clFFT provides a set of FFT
 routines that are optimized for AMD graphics processors, but also are
 functional across CPU and other compute devices.

Package: libclfft2-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libjs-mathjax
Pre-Depends: ${misc:Pre-Depends}
Description: clFFT is an OpenCL FFT library - documentation
 The FFT is an implementation of the Discrete Fourier Transform (DFT) that
 makes use of symmetries in the FFT definition to reduce the mathematical
 intensity required from O(N2) to O(N log2( N )) when the sequence length
 N is the product of small prime factors. Currently, there is no standard
 API for FFT routines. Hardware vendors usually provide a set of
 high-performance FFTs optimized for their systems: no two vendors employ
 the same interfaces for their FFT routines. clFFT provides a set of FFT
 routines that are optimized for AMD graphics processors, but also are
 functional across CPU and other compute devices.

